 :root {
    --primary: var(--bg-color);
 }

 .btn {
    padding: 8px 14px;
    margin-top: 0.7rem;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
 }

 .btn--primary {
    background-color: var(--primary);
    color: var(--text-color);
    border: 1px solid var(--primary);
 }

 .btn--outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
 }

 .btn--medium {
    font-size: 20px;
 }

 .btn--large {
    padding: 12px 26px;
    font-size: 20px;
 }

.btn--outline:hover{
  background-color: var(--primary); 
  color: var(--text-color);               
  mix-blend-mode: difference;
  transition: all 0.1s ease-out;
}

.btn--primary:hover{
  background-color: var(--text-color); 
  color: var(--bg-color);               
  mix-blend-mode: difference;
  transition: all 0.3s ease-out;
}