.hero {
  width: 100%;
  height: 60vh;
  color:var(--bg-color);
  padding-top: 70px;
  z-index: 999;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  padding-top: 90px;
}

h1 {
    font-size: 4rem;
}

.hero-overlay,
.hero-content {
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}