.info-bar {
  padding: 2rem 6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 4rem;
  flex-wrap: wrap;
  text-align: left;
}

.info-bar:nth-of-type(odd) {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.info-content.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  min-width: 280px;
}

.text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 40vw;
}

.image {
  flex: 1;
  min-width: 280px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .info-bar {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .text p {
    margin: 0 auto;
  }
}