*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    z-index: 1000;

}

.navbar {
    background: #ffffff;
    box-shadow: 0 0 5px #000;
    width: 100%;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 0.5rem;
}

.navbar-logo img {
    display: block;
    transform: translateY(.1rem) translateX(.1rem);
}

/* note to edit these colors */
.navbar a:not(.navbar-logo) {
    color: rgb(0, 17, 71); 
    font-size: 1.2rem;
    padding: 0.4rem .9rem;
    display: block;
    border-radius: 10rem;
}

.navbar a:not(.navbar-logo):hover,
.navbar a:not(.navbar-logo):focus,
.navbar a:not(.navbar-logo):active {
    background-color: rgb(234, 234, 234);
}

.menu-icon {
    margin-left: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.8rem; 
}

@media(max-width: 768px){
    .navbar a:not(.navbar-logo) {
        font-size: 1rem;
        padding: .4rem 1.9rem;
        border-radius: 8rem;
    }

    .menu-icon {
        display: flex;  
        align-items: center;
        z-index: 20;
    }

    .navbar-container {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #ffffff;
        box-shadow: 0 0 5px #000;
        position: absolute;
        width: 250px;
        height: 55vh;
        top: -800px;
        right: 0;
        z-index: 10;
        transition: top 0.7s;
    }

    .navbar-container.active {
        top: 12%;
        transition: top 0.7s ease-in;
    }
}