.team-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  z-index: 999;
  padding-top: 14vh;
  transition: opacity 0.6s ease;
}

.team-container img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transform: translate(-9vw, 12%) scale(1.3);
  transform-origin: center 75%;
  display: block;
  transition: filter 0.6s ease, transform 0.3s ease;
  z-index: -1;
}

.team-container.revealed img,
.team-container.unlocked img {
  filter: brightness(40%);
}

.team-message {
  position: absolute;
  padding-top: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s cubic-bezier(.2,.9,.3,1);
  width: 80%;
}

.team-container.revealed .team-message,
.team-container.unlocked .team-message {
  opacity: 1;
  transform: translate(-50%, -50%);
}


.team-container.unlocked {
  position: relative;
}

