
.team-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  padding-top: 14vh;
  transition: opacity 0.6s ease;
}

.team-container img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transform: translate(-9vw, 12%) scale(1.4);
  transform-origin: center 70%;
  display: block;
  transition: filter 0.6s ease;
}

.team-container.revealed img,
.team-container.unlocked img {
  filter: brightness(40%);
}

.team-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: 80%; 
}

.team-container.revealed .team-message,
.team-container.unlocked .team-message {
  opacity: 1;
}

.team-container.unlocked {
  position: relative;
}