.team-container {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 14vh;
}

.team-container img {
    width: 100vw;
    object-position: top center; 
    object-fit: cover;
    transform: translate(-8vw, 12%) scale(1.4);
    transform-origin: center 70%;
    display: block;
}
