.text-section {
    background-color: var(--bg-color);
    padding: 2rem;
    color: var(--text-color);
}

.text-section h1 {
    font-size: 40px;
    padding-bottom: 7px;
}

.text-section h2 {
    font-size: 30px;
}

.text-section h3 {
    font-size: 20px;
}

.text-section p {
    padding-top: 0.5rem;
    font-size: large;
}

