@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Funnel+Display:wght@300..800&family=Indie+Flower&display=swap');

:root {
	--font-audiowide: 'Audiowide', sans-serif;
	--font-funnel: 'Funnel Display', sans-serif;
	--font-indie: 'Indie Flower', cursive;
}

body {
	font-family: var(--font-funnel);
}

h1, h2, h3, a {
	font-family: var(--font-audiowide);
}

/* for future help */
.handwritten {
	font-family: var(--font-indie);
}
