@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Funnel+Display:wght@300..800&family=Indie+Flower&display=swap');

:root {
	--font-audiowide: 'Audiowide', sans-serif;
	--font-funnel: 'Funnel Display', sans-serif;
	--font-indie: 'Indie Flower', cursive;

  --text-color: #1a1c1e;
  --bg-color: #e1e3e5;
  --primary-color: #004080;
  --secondary-color: #96cbee;
  --accent-color: #7cb5ee;
}

[data-theme="dark"] {
  --text-color: #e1e3e5;
  --bg-color: #1a1c1e;
  --primary-color: #80bfff;
  --secondary-color: #114669;
  --accent-color: #114669;
}


body {
	font-family: var(--font-funnel);
}

h1, h2, h3, a {
	font-family: var(--font-audiowide);
}

/* for future help */
.handwritten {
	font-family: var(--font-indie);
}
